.listenerComponent {
    background-color: #49BEAA;
}

.symbolListComponent {
    scale: 70%;
}

.allSelectedSymbolsListener {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}