.speakerComponent {
    background-color: #EF767A;
}

.symbolsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.symbolOverlap {
    opacity: 0.5;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}

.allSelectedSymbols {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 10%;
}